<!-- Quanto segue è stato introdotto in 291d2d2a 
     molto più pulito del puttanaio sovrastante
     (rollback: commit 81dd0d28) -->

<!-- Assegno a $data il contenuto della directory /data/{Lang} -->
{{ $data := index site.Data site.Language.Lang }}
<!-- $path = il contenuto della chiave il cui nome
     coincide con il valore di "skill" -->
{{ $path := index $data.skill (.Get "skill") }}

<ul>
<!-- Se la chiave ha una sub-key "order" -->
{{ if $path.order }}
    {{ range $line := $path.order }}
        {{ $description := index $path.lines $line }}
        <li><strong>{{ . }}:</strong> {{ $description }}</li>
    {{ end }}
<!-- Altrimenti -->
{{ else }}
    {{ range $line := $path.lines }}
        <li>{{ . }}</li>
    {{ end }}
{{ end }}
</ul>