.bio-box {
    display: grid;
    grid-template-columns: 1fr 2fr; /* two columns of 1fr width */
    gap: 2rem; /* gap between columns */
  }

.bio-column {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* gap between groups */
  }
  
@media screen and (max-width: 600px) {

    .first_block,
    .second_block {
        width: 100%;
    }
}
