.bio-box {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /*gap between columns */
    gap: 2rem;
  }

.bio-column {
    display: flex;
    flex-direction: column;
    /* gap between groups */
    gap: 1rem;
  }
  
@media screen and (max-width: 600px) {
  .bio-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .bio-column {
    display: flex;
    flex-direction: column;
  }
}
