.bio-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* gap: 2rem; gap between columns */
  }

.bio-column {
    display: inline-block;
    max-width: 50%;
    /* flex-direction: column; */
    /* gap: 1rem; gap between groups */
  }
  
@media screen and (max-width: 600px) {

    .bio-column {
        max-width: 100%;
    }
}
